%p
  На канбан доске "#{@board.name}" была создана новая карточка:

%h2= @card.name

%p Содержание карточки:

%pre= @card.content

%p
  Автор карточки: #{@card_author.short_name}

%p
  Время создания: #{@card.created_at.strftime("%d.%m.%Y в %H:%M")}

%p
  = link_to "Перейти на карточку", kanban_card_url(@card)
