.modal-header
  = button_to_close_modal
  %h3= t('.title')

.modal-body
  = form_with model: @event_type, url: time_bank_event_types_path, local: false, class: 'form-inline', id: 'event_type_form' do |f|
    = f.text_field :name, class: 'input-medium', placeholder: t('.name_placeholder')
    = f.select :direction, TimeBankEventType::DIRECTIONS.map { |d| [t(".direction_#{d}"), d] }, {}, class: 'input-small'
    = f.submit t('.add'), class: 'btn btn-success'

  %hr

  #event_types_list
    = render 'list'

.modal-footer
  = link_to t('helpers.links.close'), '#', 'data-dismiss' => 'modal', class: 'btn'
