- if @modal == "select_window"
  = form_with model: current_user, url: update_elqueue_window_user_path(id: current_user), method: :patch, local: false, class: 'form-horizontal' do |f|
    .modal-header
      .select_window_notice
        На данном филиале активирована электронная очередь.
        Чтобы начать обслуживание - выберите номер окна.
        (номер можете узнать посмотрев наверх)
      = button_to_close_modal
      %h3.select_window_header
        = t('elqueue_windows.select_window')

    .modal-body
      .control-group
        %label.control-label= t('elqueue_windows.window')
        .controls
          = f.select :elqueue_window_id, elqueue_window_options(current_user), {include_blank: t('elqueue_windows.select_window_prompt')}

    .modal-footer
      .select_window_notice
        После выбора окна, ваш статус будет «на паузе».
        Чтобы начать обслуживание клиентов, необходимо
        снять «паузу» в разделе «Электронная очередь».
      = f.submit t('elqueue_windows.submit'), class: 'btn btn-primary'
- elsif @modal.start_with?("finish_service")
  .modal-header
    = button_to_close_modal
    %h3
      = "Завершить обслуживание талона ##{@waiting_client.ticket_number}?"
  .modal-body
    .complete_ticket_service
      = link_to "Да", complete_waiting_client_path(@waiting_client), method: :patch, data: { remote: true }, class: "btn btn-primary"
      = link_to "Нет", "#", class: "btn btn-submit", data: {dismiss: "modal"}
      = link_to "Клиент не пришел", complete_waiting_client_path(@waiting_client, did_not_come: true), method: :patch, data: { remote: true }, class: "btn btn-danger"
      = form_with url: reassign_window_waiting_client_path(@waiting_client),
                  method: :patch,
                  local: false,
                  class: 'reassign-window-form' do |form|
        = form.submit 'Передать талон в окно', class: 'btn btn-submit'
        = form.fields_for :waiting_client do |f|
          = f.select :attached_window,
                      @waiting_client.electronic_queue.elqueue_windows.chosen.pluck(:window_number),
                      {},
                      { class: 'select-window' }