.dashboard-actions
  .navbar
    .navbar-inner.wiki-wrapper__buttons
      - if %w[index search].include?(action_name)
        .left-column
          %ul.nav
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do
                = @category&.title || 'Категории'
                %span.caret.pull-right
              %ul.dropdown-menu
                - @categories.each do |category|
                  %li
                    = link_to category.title, "?category_id=#{category.id}"

          = render 'search'

        - if current_user.any_admin? || able_to?(:manage_wiki)
          .right-column
            = link_to icon_tag('file-alt') + t('create'), wiki_page_new_path, class: 'btn btn-success wiki-new'
      - elsif %w[show history].include?(action_name)
        - if current_user.any_admin? || able_to?(:manage_wiki)
          .right-column
            = link_to t('wiki.history'), history_wiki_pages_path(@wiki_page.path), class: 'btn btn-info'
            = link_to t('wiki.edit'), edit_wiki_page_path(@wiki_page.path), class: 'btn'
            = link_to t('wiki.destroy'), wiki_page_path(@wiki_page.path), method: :delete, class: 'btn btn-danger', data: {confirm: t('wiki.destroy_confirmation')}

