= auto_header_tag @client_category
= simple_form_for @client_category, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :color, as: :color
    = f.input :work_algorithm, as: :text, input_html: { rows: 5 }

  .form-actions
    = submit_button f
