= simple_form_for @task, html: { class: 'form-horizontal' } do |f|
  - if @task.product.present?
    .control-group
      %label.control-label Продукт
      .controls= link_to @task.product.name, @task.product, target: '_blank'
  = f.input :name
  = f.input :code
  = f.input :roles, collection: User::ROLES, input_html: { multiple: true }, label_method: lambda{|role|t("users.roles.#{role}")}
  = f.input :location_code, collection: Location::CODES
  = f.input :cost
  = f.input :color, as: :color
  = f.input :hidden

  %fieldset
    %legend Пункты условий для заказ-наряда
    .service-conditions-checkboxes
      - ServiceCondition.all.each do |sc|
        %label.checkbox.service-condition-item
          = check_box_tag 'task[service_condition_ids][]', sc.id, @task.service_condition_ids.include?(sc.id)
          %span.condition-number= sc.number
          %span.condition-content= sc.content
      = hidden_field_tag 'task[service_condition_ids][]', ''

  .form-actions
    = submit_button f
