.page-header.page-header__wiki
  %h1= t 'wiki.categories.edit'

= render 'actions'

.highlight
  %pre
    = form_with model: @category, url: wiki_page_category_path(@category), method: :patch, local: true do |f|
      = render partial: 'form', locals: { f: f }
      %p= f.submit t('save'), class: 'btn btn-primary'
