.page-header.page-header__wiki
  %h1= t 'wiki.categories.title'

= render 'actions'

- if @categories.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= WikiPageCategory.human_attribute_name(:id)
        %th= WikiPageCategory.human_attribute_name(:title)
        %th= WikiPageCategory.human_attribute_name(:created_at)
        %th= WikiPageCategory.human_attribute_name(:updated_at)
        %th
    %tbody
      - @categories.each.with_index(1) do |category, index|
        %tr
          %td= index
          %td= category.title
          %td= l category.created_at, format: :date_time
          %td= l category.updated_at, format: :date_time
          %td.btn-group
            = link_to_show_small category
            = link_to_edit_small category
            = link_to_destroy_small category

  = paginate @categories, remote: true
- else
  = render 'shared/empty'
