.page-header
  - if policy(DeviceUnlockRequest).new?
    = link_to t('helpers.links.new'), new_device_unlock_request_path, class: 'btn btn-success pull-right'
  %h2= t('.title')

%table#device_unlock_requests_table.table.table-hover.table-bordered.device-unlock-requests
  %thead
    %tr
      %th= t('.columns.id')
      %th= t('.columns.created_at')
      %th= DeviceUnlockRequest.human_attribute_name(:client)
      %th= DeviceUnlockRequest.human_attribute_name(:item)
      %th= DeviceUnlockRequest.human_attribute_name(:reason)
      %th= t('.columns.last_comment')
      %th= DeviceUnlockRequest.human_attribute_name(:status)
  %tbody
    - if @device_unlock_requests.empty?
      %tr
        %td{ colspan: 7 }= t('.empty')
    = render partial: 'device_unlock_request', collection: @device_unlock_requests, as: :device_unlock_request
