= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
#users_table_filter.table_filter.navbar
  .navbar-inner
    .container
      = form_with url: search_users_path, method: :get, local: false, class: 'navbar-search form-search', id: 'search_form' do |f|
        .input-append
          = f.fields_for 'query' do |form|
            = form.text_field :name, class: 'search-query input-large', placeholder: 'Поиск пользователя'
            - if can? :see_all_users, User
              = form.hidden_field :all, value: true
          %span.add-on.btn.clear_search_input
            %i.icon-remove

#users_table= render 'users_table'
