%table.table.table-striped.table-hover
  %thead
    %tr
      %th= User.human_attribute_name(:id)
      %th= User.human_attribute_name(:username)
      %th= User.human_attribute_name(:name)
      %th Достижения
      %th= User.human_attribute_name(:role)
      %th= User.human_attribute_name(:location)
      %th
  %tbody
    - @users.each do |user|
      = user_row_tag user

= paginate @users