.page-header
  %h1= t('.title')

.well.well-small
  = form_tag schedules_path, method: :get, class: 'form-inline' do
    = label_tag :city_id, t('.city'), class: 'control-label'
    = select_tag :city_id, options_from_collection_for_select(City.all, :id, :name, @city.id), class: 'input-medium', onchange: 'this.form.submit()'

- @departments.each do |department|
  .well.well-small
    %p
      %strong= "#{department.name}:"
      - if department.working_hours.any?
        %span= format_working_hours_summary(department)
      - else
        %span.muted= t('.working_hours_not_set')

- if can?(:manage, :schedule)
  .btn-toolbar
    = link_to department_schedule_configs_path(city_id: @city.id), remote: true, class: 'btn' do
      = glyph(:building)
      = t('.departments_settings')
    = link_to shifts_path, remote: true, class: 'btn' do
      = glyph(:time)
      = t('.shifts_settings')
    = link_to occupation_types_path, remote: true, class: 'btn' do
      = glyph(:briefcase)
      = t('.occupation_types_settings')

%hr

%h4= t('.groups_title')

- if can?(:manage, :schedule)
  .btn-toolbar
    = link_to new_schedule_group_path(city_id: @city.id), remote: true, class: 'btn btn-success' do
      = glyph(:plus)
      = t('.create_group')

#schedule_groups_list
  = render 'groups_list', schedule_groups: @schedule_groups, city: @city
