#history
  %a.close.close_history{href: '#'}
    %i.fa.fa-times-circle
  %br
  %table.table.table-condensed
    %thead
      %tr
        %th= t '.date'
        %th= HistoryRecord.human_attribute_name :column_name
        %th= t '.change'
        %th= HistoryRecord.human_attribute_name :user
    %tbody
      - @records.each do |rec|
        %tr
          %td= human_datetime rec.created_at
          %td
            - if rec.object.nil?
              - # Handle orphaned records where the parent was deleted
              = "#{rec.object_type}: #{rec.column_name} (запись удалена)"
            - elsif rec.object.is_a?(ClientCharacteristic)
              = "#{Client.human_attribute_name(:client_characteristic)}: #{ClientCharacteristic.human_attribute_name(rec.column_name)}"
            - else
              = rec.object.class.human_attribute_name rec.column_name.to_s
          %td= human_history_change rec
          %td= "#{rec.user.try(:short_name)} [#{rec.user.try(:username)}]"
