<% if @success %>
  var $cell = $('.cashier-schedule__cell[data-user-id="<%= @user.id %>"][data-date="<%= @date %>"]');
  $cell.find('.cashier-schedule__cashier-marker').remove();
  $cell.append('<div class="cashier-schedule__cashier-marker"><span class="label label-warning"><%= j t("cashier_schedules.table.closing_cashier") %></span></div>');
  $cell.closest('tr').find('td:last').text('<%= @monthly_count %>');
  <% if @warnings.any? %>
  alert("<%= j @warnings.join("\n") %>");
  <% end %>
<% else %>
  alert("<%= j @warnings.join("\n") %>");
<% end %>
