- if @time_bank_entries.any?
  %table.table.table-condensed.table-striped.time-bank-table
    %thead
      %tr
        %th= t('.date')
        %th= t('.employee')
        %th= t('.event_type')
        %th= t('.amount')
        %th= t('.note')
        %th= t('.created_by')
        - if can?(:manage, :schedule)
          %th
    %tbody
      - @time_bank_entries.each do |entry|
        %tr{id: "time_bank_entry_#{entry.id}"}
          %td= l(entry.occurred_on, format: :short)
          %td= entry.user.short_name
          %td
            %span.label{class: entry.credit? ? 'label-success' : 'label-important'}
              = entry.credit? ? '+' : '-'
            = entry.event_type.name
          %td
            %span{class: entry.credit? ? 'text-success' : 'text-error'}
              = entry.credit? ? '+' : '-'
              = TimeBankEntry.format_amount(entry.days, entry.minutes)
          %td= entry.note
          %td= entry.created_by&.short_name
          - if can?(:manage, :schedule)
            %td{style: 'white-space: nowrap;'}
              = link_to edit_schedule_group_time_bank_entry_path(@schedule_group, entry), remote: true, class: 'btn btn-mini' do
                = glyph(:pencil)
              = link_to schedule_group_time_bank_entry_path(@schedule_group, entry), method: :delete, remote: true, data: { confirm: t('.confirm_delete') }, class: 'btn btn-mini btn-danger' do
                = glyph(:trash)
- else
  %p.muted= t('.empty')
