.wiki-row
  .wiki-column
    .wiki_search
      = form_with url: search_wiki_pages_path, method: :get, local: false do |f|
        - if policy(WikiPage).wiki_superadmin?
          = f.collection_select :wiki_page_category_filter, WikiPageCategory.all, :id, :title, { prompt: t('.category_select')}
        - elsif policy(WikiPage).wiki_senior?
          = f.collection_select :wiki_page_category_filter, WikiPageCategory.without_superadmin, :id, :title, { prompt: t('.category_select')}
        - else
          = f.collection_select :wiki_page_category_filter, WikiPageCategory.without_superadmin_and_senior, :id, :title, { prompt: t('.category_select')}
        = f.search_field :title_filter
        = f.submit t('.search'), class: 'btn btn-primary'
  .wiki-column.text-right
    - if can? :manage, WikiPage
      = link_to t('.new_page'), new_wiki_page_path, class: 'btn btn-success'
    - if policy(WikiPage).wiki_senior?
      = link_to t('.manage_categories'), '#', class: 'btn', id: 'manage-categories'
      %ul.wiki_manage_categories
        %li.wiki_manage_categories__new-form
          = form_with url: wiki_page_categories_path, method: :post, local: false do |f|
            = f.text_field :title, name: 'wiki_page_category[title]', placeholder: 'Название новой категории', class: 'input-medium'
            = f.submit 'Создать', class: 'btn btn-small btn-success'
        = render WikiPageCategory.all
