= form_with model: @page do |f|
  = f.label :title, t('.title')
  = f.text_field :title
  - if policy(WikiPage).wiki_senior?
    .wiki_senior
      = f.label :senior, t('.senior'), class: 'label-inline'
      = f.check_box :senior, {}, 'true', 'false'
  - if policy(WikiPage).wiki_superadmin?
    .wiki_superadmin
      = f.label :superadmin, t('.superadmin'), class: 'label-inline'
      = f.check_box :superadmin, {}, 'true', 'false'
  = f.label :content, t('.content')
  = f.text_area :content
  = f.fields_for :documents do |document|
    = document.label :file, t(".document")
    = document.file_field :file

  = text_field_tag :category_title, '', placeholder: t('.select_category'), class: "category-chosen-value", autocomplete: "off"
  %ul.categories-value-list
    - if policy(WikiPage).wiki_superadmin?
      - WikiPageCategory.all.each do |category|
        %li= category.title
    - elsif policy(WikiPage).wiki_senior?
      - WikiPageCategory.without_superadmin.each do |category|
        %li= category.title
    - else
      - WikiPageCategory.without_superadmin_and_senior.each do |category|
        %li= category.title
  = f.submit t('.submit'), class: 'submit btn btn-primary'

- @page.documents.each do |document|
  %p
    - if document.file.present?
      - if document.file.image?
        = image_tag(document.file.thumb.file.authenticated_url(expires_in: 600))
      - else
        = link_to document.file.file.filename, document.file.file.authenticated_url(expires_in: 600), target: "_blank"
      = link_to t(".remove_document"), wiki_page_document_path(wiki_page_id: @page.id, id: document.id), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'danger-link'

-# Legacy images (will be removed after migration)
- @page.images.each_with_index do |image, index|
  %p
    = image_tag(image.url)
    = link_to wiki_page_image_path(@page, index), method: :delete, data: { confirm: 'Вы уверены?' } do
      = "#{glyph(:trash)} #{t('.image-delete')}"

- if @page.id.present?
  %h4= t('.images-title')
  = form_for @page, url: wiki_page_images_path(@page), method: :post do |f|
    = f.file_field :images, multiple: true
    = f.submit t('.submit-images')