= javascript_include_tag "ckeditor/init"

.form-group
  = f.label t('wiki.title')
  = f.text_field :title

.form-group
  = f.label t('wiki.path')
  = f.text_field :path
  %p
    %small.muted= 'text here'

.form-group
  = f.label t('wiki.categories.category_id')
  = f.select :wiki_page_category_id, @categories.map { |category| [category.title, category.id] }, { include_blank: 'Выберите категорию' }

.form-group
  = f.label t('wiki.content')
  = f.text_area :content, class: 'ckeditor'

- if current_user.any_admin? || able_to?(:manage_wiki)
  .form-check
    %label
      = f.check_box :private
      = t 'wiki.private'
- else
  = f.hidden_field :private, value: false

- if action_name == 'new'
  = f.hidden_field :creator_id, value: current_user.id
  = f.hidden_field :updator_id, value: current_user.id
  = hidden_field_tag :comment, 'Первая редакция'
- else
  = f.hidden_field :creator_id, value: @wiki_page.creator_id
  = f.hidden_field :updator_id, value: current_user.id

  .form-group
    = f.label t('wiki.сomment_on_change')
    = text_area_tag :comment
