= form_with model: @page do |f|
  = f.label :title, t('.title')
  = f.text_field :title
  - if policy(WikiPage).wiki_senior?
    .wiki_senior
      = f.label :senior, t('.senior'), class: 'label-inline'
      = f.check_box :senior, {}, 'true', 'false'
  = f.label :content, t('.content')
  = f.text_area :content
  = text_field_tag :category_title, '', placeholder: t('.select_category'), class: "category-chosen-value", autocomplete: "off"
  %ul.categories-value-list
    - if policy(WikiPage).wiki_senior?
      - WikiPageCategory.all.each do |category|
        %li= category.title
    - else
      - WikiPageCategory.only_non_senior.each do |category|
        %li= category.title
  = f.submit t('.submit'), class: 'submit btn btn-primary'
%h4= t('.images-title')

- @page.images.each do |image|
  %p= image_tag(image.url)


= form_for @page, url: wiki_page_images_path(@page), method: :post do |f|
  = f.file_field :images, multiple: true
  = f.submit t('.submit-images')