.wiki_wrapper
  %h1= @page.title

  .wiki_content
    = sanitize(auto_link(RedCloth.new(@page.content).to_html.html_safe))

  = render 'form'
  .form_actions
    = link_to t('.cancel'), wiki_page_path(@page), class: 'submit btn'
    = link_to t('.preview'), '#', class: 'submit btn btn-info'
