.page-header.page-header__wiki
  %h1
    = link_back_to_index
    = @wiki_page.title

    %p
      %small.muted
        = "[#{human_datetime @wiki_page.created_at}]"
        = "<#{@wiki_page.creator.short_name}>" if @wiki_page.creator.present?

= render 'actions'

%p= "Категория: #{@wiki_page.wiki_page_category&.title}"
= @wiki_page.content.html_safe
-#
-# %hr
-# #info_comments
-#   .comments
-#     %h5= "#{t('comments.index.title')}:"
-#     = render @info.comments.oldest
-#   .new_comment
-#     %h5= t 'comments.new.title'
-#     = new_comment_form_for @info
-#
-# - if can? :modify, Info
-#   .form-actions
-#     = link_to_edit @info
-#     = link_to_destroy @info

