%div[device_note]
  = device_movement_telegram_tag(device_note.user.work_phone)
  %small{style: "color: #{device_note.user.color}", class: "uncolored-links"}
    = link_to "#{device_note.user.short_name} [#{l(device_note.created_at, format: :date_time)}]",
        user_path(device_note.user)
    = edited_by_tag(device_note)
    - if policy(device_note).update? && editable
      = link_to icon_tag(:edit),
        "#",
        class: "form-inline-link",
        data: {form_inline_id: "device_note_#{device_note.id}"}
    - if editable
      = note_history_tag(device_note)
  = content_tag(:p,
                "#{device_note.content} #{device_note.notifications.map(&:user).map(&:at_short_name).join(', ')}",
                class: "content-inline",
                data: {form_inline_id: "device_note_#{device_note.id}"})
  - if editable
    = render 'device_notes/form_inline', device_note: device_note
