%div[device_note]
  = device_movement_telegram_tag(device_note.user.work_phone)
  %small{style: "color: #{device_note.user.color}"}
    = "#{device_note.user.short_name} [#{l(device_note.created_at, format: :date_time)}]"
  = content_tag(:p, device_note.content, class: "content-inline", data: {form_inline_id: "device_note_#{device_note.id}"})
