%tr
  %input{type: 'hidden', name: "evaluation_list[#{table_row_counter}][id]", value: table_row.id}
  %td
    .table-data= table_row.name
    %input.hidden{name: "evaluation_list[#{table_row_counter}][name]", value: table_row.name}
  %td
    .table-data= table_row.min_value
    %input.hidden{name: "evaluation_list[#{table_row_counter}][min_value]", value: table_row.min_value}
  %td
    .table-data= table_row.max_value
    %input.hidden{name: "evaluation_list[#{table_row_counter}][max_value]", value: table_row.max_value}
  %td
    .table-data= table_row.lack_of_kit
    %input.hidden{name: "evaluation_list[#{table_row_counter}][lack_of_kit]", value: table_row.lack_of_kit}
  - if can? :manage, TradeInDeviceEvaluation
    %td.btn-group
      = link_to_destroy_small table_row, remote: true