<tr class="device_task fields" data-task-id="<%= f.object.task_id %>">
  <td class="task_type">
    <%= f.input :task_id,
                as: :custom_select,
                collection: Task.visible.positioned,
                prompt: 'Выберите задачу',
                input_html: { class: 'device_task_task'},
                label: false %>
  </td>
  <td class="task_cost">
    <%= f.number_field :cost, class: 'device_task_cost input-small' %>
  </td>
  <td class="task_comment">
    <%= f.text_area :comment, rows: 3, class: 'device_task_comment',
                    data: {content: raw(t('service_jobs.form.task_comment_hint'))} %>
  </td>
  <td class="task_actions">
    <%= link_to_remove_fields f %>
  </td>
</tr>

<!-- Extended row for task-specific behavior (e.g., repair selection) -->
<tr class="task-extended-row" style="display:none;">
  <td colspan="4">
    <div class="task-extended-content well well-small">
      <%= render 'service_jobs/repair_selection_form',
                 f: f,
                 product_id: defined?(@service_job) ? @service_job.item&.product_id : nil,
                 department_id: defined?(@service_job) ? @service_job.department_id : nil %>
    </div>
  </td>
</tr>
