.sj-photo-attachments
  %h5
    = t(".title_#{division}")
  .mini-gallery
    = photo_gallery_mini(@service_job, division)
  .add-photo-btn
    = link_to t(".add_photo"),
      "#",
      id: "add-photo-btn-#{division}"
    .qr_code.hidden{data: {division: division.to_s}}
      = instance_variable_get("@qr_#{division}_photos").html_safe
