.sj-photo-attachments
  %h5
    = t(".title_#{division}")
  .mini-gallery
    = photo_gallery_mini(@service_job, division)
  .add-photo-btn
    = link_to t(".add_photo"),
      "",
      id: "add-photo-btn-#{division}"