- return unless service_job.repair_status_id.present?
- return unless current_user&.location_id.present? && current_user.location_id == service_job.location_id
- current_status = service_job.repair_status
- current_reason = service_job.repair_pause_reason
- displaced_by_sj = (current_reason&.urgent_repair? ? service_job.current_displaced_by_service_job : nil)
- gluing_hours = (current_reason&.gluing? ? service_job.current_gluing_hours : nil)
- selectable_statuses = RepairStatus.active.ordered.where.not(code: RepairStatus::COMPLETED)

.repair-status-widget{ data: { 'repair-status-sj-id': service_job.id } }
  - if can?(:update_repair_status, service_job)
    .btn-group
      %a.repair-status-badge{ class: "repair-status-badge--#{current_status.code}", data: { toggle: 'dropdown' }, href: '#', style: ("background: #{current_status.color};" if current_status.color.present?) }
        = current_status.name
        %span.caret
        - if current_status.paused? && current_reason
          %span.repair-status-badge__reason
            = current_reason.name
            - if displaced_by_sj
              %span.repair-status-badge__ref= " ##{displaced_by_sj.ticket_number}"
            - if gluing_hours
              %span.repair-status-badge__ref= " (#{gluing_hours} ч)"
      %ul.dropdown-menu.repair-status-widget__menu
        - selectable_statuses.each do |status|
          - if status.paused?
            %li.dropdown-submenu
              %a{ href: '#', tabindex: '-1' }
                %span.repair-status-widget__color-dot{ style: "background: #{status.color};" }
                = status.name
              %ul.dropdown-menu.repair-status-widget__pause-reasons
                - RepairPauseReason.active.ordered.each do |reason|
                  %li
                    - if reason.urgent_repair?
                      = link_to displaced_by_prompt_service_job_path(service_job), remote: true do
                        = reason.name
                    - elsif reason.gluing?
                      = link_to gluing_prompt_service_job_path(service_job), remote: true do
                        = reason.name
                    - else
                      = link_to repair_status_service_job_path(service_job, repair_status_code: status.code, repair_pause_reason_id: reason.id), method: :patch, remote: true do
                        = reason.name
          - else
            %li{ class: ('active' if status.id == current_status.id) }
              = link_to repair_status_service_job_path(service_job, repair_status_code: status.code), method: :patch, remote: true do
                %span.repair-status-widget__color-dot{ style: "background: #{status.color};" }
                = status.name
  - else
    %span.repair-status-badge{ class: "repair-status-badge--#{current_status.code}", style: ("background: #{current_status.color};" if current_status.color.present?) }
      = current_status.name
      - if current_status.paused? && current_reason
        %span.repair-status-badge__reason
          = current_reason.name
          - if displaced_by_sj
            %span.repair-status-badge__ref= " ##{displaced_by_sj.ticket_number}"
          - if gluing_hours
            %span.repair-status-badge__ref= " (#{gluing_hours} ч)"
