= simple_form_for([@sale, @payment]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :kind
    -# = f.association :payment_type
    = f.input :value
    = f.association :bank

  .form-actions
    = f.button :submit
