- if @achievements.exists?
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th id
        %th Название достижения
        %th Иконка
        %th
    %tbody
      - @achievements.each do |achievement|
        %tr
          %td= achievement.id
          %td= achievement.name
          %td
            - if achievement.icon_mini.present?
              = image_tag achievement.icon_mini.url,
                          class: 'achievement-img-icon-mini'
          %td
            - if can? :manage, Achievement
              .btn-group
                = link_to_edit_small achievement
                = link_to_destroy_small achievement