<%= simple_form_for(board, html: {class: 'form-horizontal'}) do |form| %>
  <%= form.input :name %>
  <%= form.input :background, as: :color %>
  <%= form.input :open_background_color, as: :color %>
  <%= form.input :card_font_color, as: :color %>
  <%= form.input :card_font_size %>
  <%= form.input :open_card_font_size %>
  <div class="row-fluid">
    <div class="span6">
      <div class="control-group kanban-users">
        <%= form.label :managers, class: 'control-label' %>
        <div class="controls kanban-user-choice">
          <%= text_field_tag "manager_user", nil, placeholder: t(".filter_user"), class: "filter-kanban-users" %>
          <%= link_to t(".check_all"), "", class: "btn btn-secondary check-all-users" %>
          <%= link_to t(".uncheck_all"), "", class: "btn btn-secondary uncheck-all-users" %>
          <%= form.collection_check_boxes :manager_ids, User.active, :id, :presentation do |b| %>
            <%= b.check_box(
                  data: { email: b.object.email.present?.to_s },
                  class: 'kanban-manager-checkbox'
                ) %>
            <%= b.label %>
            <%= content_tag :span,
                  b.object.role_department,
                  data: { color: b.object.city.color },
                  class: 'highlight role-dep-info' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="control-group kanban-users">
        <%= form.label :allowed_user_ids, class: "control-label" %>
        <div class="controls kanban-user-choice">
          <%= text_field_tag "allowed_users", nil, placeholder: t(".filter_user"), class: "filter-kanban-users" %>
          <%= link_to t(".check_all"), "", class: "btn btn-secondary check-all-users" %>
          <%= link_to t(".uncheck_all"), "", class: "btn btn-secondary uncheck-all-users" %>
          <%= form.collection_check_boxes :allowed_user_ids, User.active, :id, :presentation do |b| %>
            <%= b.check_box %>
            <%= b.label %>
            <%= content_tag :span,
                            b.object.role_department,
                            data: { color: b.object.city.color },
                            class: 'highlight role-dep-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_button form %>
  </div>
<% end %>
