<div class="page-header">
  <h2>
    <%= link_back_to kanban_boards_path %>
    <%= t '.title' %>
  </h2>
</div>

<div class="row-fluid">
  <% if @boards.empty? %>
    <p class="muted"><%= t '.empty' %></p>
  <% end %>

  <% @boards.each do |board| %>
    <% if can? :show, board %>
      <div class="span2 text-center mobile-full">
        <%= link_to kanban_board_path(board) do %>
          <div class="thumbnail" style="background-color: <%= board.background || '#ffffff' %>;">
            <h3><%= board.name %></h3>
          </div>
        <% end %>
        <% if can?(:unarchive, board) %>
          <%= link_to t('.unarchive'), unarchive_kanban_board_path(board), method: :patch, class: 'btn btn-small btn-success' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
