<div class="kanban-board" style="background-color: <%= @board.background || '#ffffff' %>;">
  <div class="page-header">
    <h2>
      <%= link_back_to kanban_boards_path %>
      <%= @board.name %>

      <% if @board.initial_column.present? %>
        <%= link_to t('.add_card'), new_kanban_column_card_path(@board.initial_column),
                    class: 'btn btn-success' %>
      <% end %>

      <% if can?(:create, Kanban::Column) %>
        <%= link_to t('.add_column'), new_kanban_board_column_path(@board), class: 'btn btn-success btn-small' %>
      <% end %>
      <%= link_to(icon(:edit), edit_kanban_board_path(@board), class: 'btn btn-small') if can?(:edit, @board) %>
      <%= link_to_destroy_small(@board) if can?(:destroy, @board) %>
    </h2>
    <div class="kanban-board-description">
      <% if @board.managers.present? %>
        <span class="board-mananger-name">
          <%= t('.manager_person', name: @board.managers.map(&:presentation).join(", ")) %>
        </span>
      <% end %>

      <span class="sort-kanban-board">
        <%= form_with url: sorted_kanban_board_path(board: @board), method: :get, local: false do |form| %>
          <div class="form-group">
            <%= form.select :sort_order, [
              [t(".classic_sort"), "classic"],
              [t(".deadline_desc_sort"), "deadline_desc"],
              [t(".deadline_asc_sort"), "deadline_asc"]
            ], {}, { class: "form-control" } %>
            <%= form.submit t(".sort"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </span>
    </div>

  <div class="row-fluid kanban-column-headers">
    <% @board.columns.each do |column| %>
      <div class="span2">
        <h4>
          <%= link_to_if can?(:edit, column), column.name, edit_kanban_column_path(column) %>
        </h4>
      </div>
    <% end %>
  </div>

  <div class="row-fluid">
    <% @board.columns.each do |column| %>
      <div class="span2 kanban-column-cards" data-column-id=<%= column.id %> >
        <%= render partial: 'kanban/cards/card_in_column', collection: column.cards, as: :card %>
      </div>
    <% end %>
  </div>
</div>
