-# Общая таблица истории заборов. Рендерится и на админской «Учёт пакетов»
-# (/package_designs), и под формой забора (/package_withdrawals/new), чтобы
-# водитель видел последние заборы. Локаль: package_withdrawals.history.*
%h3= t('.title')
- if withdrawals.empty?
  %p.muted= t('.empty')
- else
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th= t('.when')
        %th= t('.design')
        %th= t('.size')
        %th= t('.boxes')
        %th= t('.who')
    %tbody
      - withdrawals.each do |w|
        %tr
          %td= l(w.withdrawn_on)
          %td= w.package_stock.package_design.name
          %td= w.package_stock.size
          %td= w.boxes_count
          %td= w.user.short_name
