= simple_form_for :product, url: update_repair_services_products_path, method: :patch, html: { id: 'batch_update_form', local: true } do |f|
  .row-fluid
    .span6
      = f.input :repair_service_ids,
        collection: RepairGroup.not_archived,
        as: :grouped_select,
        group_method: :repair_services,
        label: 'Прикрепить виды ремонта',
        input_html: { class: 'multiselect-rep-services optional', multiple: true }
    .span6
      = f.button :submit, "Сохранить", class: 'btn-primary', id: 'batch_update_submit', disabled: true

  - if @products.any?
    .row-fluid
      .span12.text-right
        - if params[:show_all].blank?
          = link_to "Показать все продукты", products_path(group: params[:group], show_all: true), class: 'btn btn-info'
        - else
          = link_to "Вернуться к постраничному просмотру", products_path(group: params[:group]), class: 'btn btn-default'
    - model_class = Product
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:id)
          %th
            = check_box_tag 'select_all', '', false, class: 'select-all-checkbox'
          %th= model_class.human_attribute_name(:code)
          %th= model_class.human_attribute_name(:name)
          - if can? :manage, Product
            %th
      %tbody
        - @products.each do |product|
          %tr
            %td= link_to product.id, product_path(product)
            %td
              = check_box_tag 'product_ids[]', product.id, false, class: 'product-checkbox'
            %td= link_to product.code, product_path(product)
            %td= link_to product.name, product_path(product)
            - if can? :manage, Product
              %td.btn-group
                = link_to_edit_small product
                = link_to_destroy_small product

    - unless params[:show_all].present?
      = paginate @products, remote: true
