<div class="page-header">
  <h3>
    <%= link_back_to kanban_board_path(@card.board) %>
    <%= @card.board_name %> / <%= @card.column_name %>
  </h3>
</div>

<div class="row-fluid">
  <div class="span6 mobile-full">
    <%= simple_form_for @card, html: {class: 'form-inline'} do |f| %>
      <%= f.association :column, collection: Kanban::Column.in_board(@card.board), include_blank: false, label: false %>
      <%= submit_button f %>
    <% end %>
    <h4><%= @card.name %></h4>
    <blockquote>
      <p class="kanban-card-content" data-font-size="<%= @card.board.open_card_font_size %>"><%= @card.content %></p>
      <small><%= @card.author_presentation %> [<%= l @card.created_at, format: :date_time %>]</small>
    </blockquote>
    <div>
      <% @card.photos.each do |photo| %>
        <div class="kanban-photo">
          <%= image_tag photo.file.authenticated_url(expires_in: 600) %>
        </div>
      <% end %>
    </div>

    <div class="form-actions mobile-full">
      <%= link_to_edit @card, controller: 'kanban/cards' %>
      <% unless @card.archived? %>
        <%= link_to kanban_card_path(@card),
                    method: :delete,
                    class: 'btn btn-danger',
                    data: { confirm: "Вы уверены?" } do %>
          <%= "#{glyph(:trash)} Архивировать".html_safe %>
        <% end %>
      <% else %>
        <%= link_to unarchive_kanban_card_path(@card),
                    method: :patch,
                    class: 'btn btn-danger' do %>
          <%= "#{glyph(:trash)} Разархивировать".html_safe %>
        <% end %>
      <% end %> 
    </div>
  </div>

  <div class="span6 mobile-full">
    <div id="comments" class="comments_list">
      <%= comments_list_for @card %>
      <%= comment_form_for @card %>
    </div>
  </div>
</div>
