<% if params[:group].present? || params[:query].present? %>
  <% if can? :mass_update, RepairService %>
    <%= form_tag mass_update_repair_services_path, method: :put, remote: true, id: "all_branches_t" do %>
      <%= hidden_field_tag :mode, params[:mode] %>
      <%= hidden_field_tag :group, params[:group] %>
      <table id="repair_services_table" class="table table-hover">
        <thead class="fixed-position">
          <tr>
            <th><%= RepairService.human_attribute_name(:name) %></th>
            <% real_departments.each do |department| %>
              <th>
                <%= department.short_name %>
              </th>
            <% end %>
            <th><%= submit_tag t('update'), class: 'btn btn-primary align-left' %></th>
          </tr>
        </thead>

        <tbody>
          <% @repair_services.each do |repair_service| %>
            <tr data-repair-service-id="<%=repair_service.id%>">
              <td class="name">
                <%= repair_service.name %>
                <br>
                <%= check_box_tag "repair_services[#{repair_service.id}][has_range_prices]", repair_service.has_range_prices, repair_service.has_range_prices, class: 'has-range-prices-td' %>
                <%= label_tag "repair_services_has_range_prices_#{repair_service.id}",'Ориентировочные цены' %>
              </td>
              <% real_departments.each do |department| %>
                <td class="price">
                  <span class="accurate-prices-td">
                    <%= number_field_tag "repair_services[#{repair_service.id}][#{department.id}][value]", repair_service.price(department.id)&.value %>
                  </span>
                  <span class="range-prices-td">
                    От <%= number_field_tag "repair_services[#{repair_service.id}][#{department.id}][value_from]", repair_service.price(department.id)&.value_from %>
                    До <%= number_field_tag "repair_services[#{repair_service.id}][#{department.id}][value_to]", repair_service.price(department.id)&.value_to %>
                  </span>
                </td>
              <% end %>
              <td class="btn-group">
                <%= link_to_edit_small repair_service %>
                <%= link_to_destroy_small repair_service %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <table id="repair_services_table" class="table table-hover">
      <thead class="fixed-position">
        <tr>
          <th><%= RepairService.human_attribute_name(:name) %></th>
          <% real_departments.each do |department| %>
            <th>
              <%= department.short_name %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @repair_services.each do |repair_service| %>
          <tr>
            <td class="name"><%= repair_service.name %></td>
            <% real_departments.each do |department| %>
              <td class="price number"><%= human_currency repair_service.price(department.id)&.shown_price %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <strong>Выберите группу или введите поисковой запрос</strong>
<% end %>
<script>
  window.initializeRangePricesView();
</script>
