= auto_header_tag @repair_service
= simple_form_for @repair_service, html: {id: 'repair_service_form', class: 'form-horizontal'} do |f|

  = f.hidden_field :repair_group_id
  = f.full_error :product_group
  = f.input :has_range_prices
  = f.input :name
  %b= RepairService.human_attribute_name :prices
  %br
  = f.simple_fields_for :prices do |pf|
    - next unless pf.object.department&.participates_in_repair_services?
    = pf.hidden_field :department_id
    .one-liner.range-prices
      %br
      %span= pf.object.department&.name
      = pf.input :value_from, label: 'От'
      = pf.input :value_to, label: 'До'
      %button.btn.copy-prices-btn Скопировать цены на все подразделения
    .accurate-prices
      = pf.input :value, label: pf.object.department&.name
    = pf.hidden_field :is_range_price, value: false, class: 'is-range-price'
  %br
  = f.input :difficult
  = f.input :repair_time
  %br
  %b= RepairService.human_attribute_name :time_standard
  .time-standard-single
    = f.input :time_standard, label: 'Стандарт времени (минуты)'
  .time-standard-range
    = f.input :time_standard_from, label: 'Стандарт времени от (минуты)'
    = f.input :time_standard_to, label: 'Стандарт времени до (минуты)'
  = f.input :is_positive_price
  = f.input :is_body_repair
  = f.input :special_marks
  = f.input :repair_cause_ids,
    collection: RepairCauseGroup.all,
    as: :grouped_select,
    group_method: :repair_causes,
    input_html: { multiple: true, class: 'multiselect-rep-causes' }
  .control-group
    .controls
      = link_to 'Создать новую причину', new_repair_cause_path, remote: true, class: 'btn btn-success' 
      = link_to 'Управление причинами', repair_causes_path, remote: true, class: 'btn btn-submit'
  = f.input :client_info, input_html: {rows: 3}

  %table#spare_parts.table.table-condensed.table-hover
    %caption
      %h4= RepairService.human_attribute_name(:spare_parts)
    %thead
      %tr
        %th= t('activerecord.models.product')
        %th.quantity= SparePart.human_attribute_name :quantity
        %th.warranty= SparePart.human_attribute_name :warranty_term
        %th.cost= SparePart.human_attribute_name :price
        %th.action
    %tbody= f.simple_fields_for(:spare_parts) { |ff| render 'spare_part_fields', f: ff }
    %tfoot
      %tr
        %td{colspan: 3}= t 'total'
        %td.total= human_currency @repair_service.total_cost, false
  = link_to_add_product :repair_service, :spare_parts, true

  .form-actions= submit_button f
