<table id="few_remnants_report" class="table table-bordered table-hover">
  <caption><%= report_title report %></caption>
  <thead>
  <tr>
    <th class="center" rowspan="2">
      <%= t 'activerecord.models.product' %>
    </th>
    <th colspan="<%= report.result[:stores].length %>">
      <%= t('reports.remnants.quantity') %>
    </th>
  </tr>
  <tr>
    <% report.result[:stores].each_value do |store| %>
      <th class="center"><%= store[:name] %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% report.result[:products].each_pair do |id, product| %>
  <tr>
    <td>
      <%= link_to product[:name], product_path(id) %>
      <% if report.show_code? %>
        <small><%= product[:code] %></small>
      <% end %>
    </td>

    <% report.result[:stores].each_key do |store_id| %>
      <% if product[:remnants][store_id].present? %>
        <td class="<%= product[:remnants][store_id][:css_class] %>">
          <%= "#{product[:remnants][store_id][:actual]} / #{product[:remnants][store_id][:warning]}" %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
