%table#payments_report.table.table-bordered.table-hover
  %caption= report_title report
  %thead
    %tr
      %th.center= Payment.human_attribute_name :kind
      %th.center= 'Продажи'
      %th.center= 'Возвраты'
      %th.center= 'Итого'
      %th.center= 'Кол-во операций'
  %tbody
    - report.result[:payment_kinds].each_pair do |kind, value|
      - non_detailable = %w[cash qr]
      %tr{class: non_detailable.include?(kind) ? '' : 'detailable'}
        %td= t "payments.kinds.#{kind}"
        %td.number= human_currency value[:sales_sum], false
        %td.number= human_currency value[:returns_sum], false
        %td.number= human_currency value[:result_sum], false
        %td= value[:qty]
      - unless non_detailable.include?(kind)
        - value[:payments].each do |payment|
          %tr.details
            %td
              - if kind == 'trade_in'
                %strong= "#{Payment.human_attribute_name(:device_name)}: "
                = payment[:device_name]
                %br
                %strong= "#{Payment.human_attribute_name(:device_number)}: "
                = payment[:device_number]
                %br
                %strong= "#{Payment.human_attribute_name(:client_info)}: "
                = payment[:client_info]
                %br
                %strong= "#{Payment.human_attribute_name(:appraiser)}: "
                = payment[:appraiser]
              - elsif kind == 'invoice'
                %strong= "#{Payment.human_attribute_name(:organization_name)}: "
                = payment[:organization_name]
                - if payment[:payment_details].present?
                  %br
                  = payment[:payment_details]
              - else
                = payment[:bank]
            %td.number= human_currency(payment[:value], false) unless payment[:is_return]
            %td.number= human_currency(payment[:value], false) if payment[:is_return]
            %td
            %td
  %tfoot
    %tr
      %td= t 'total'
      %td.number= human_currency report.result[:sales_sum], false
      %td.number= human_currency report.result[:returns_sum], false
      %td.number= human_currency report.result[:result_sum], false
      %td= report.result[:payments_qty]