%table.table.table-bordered.table-hover
  %caption= t '.title'
  %thead
    %tr
      %th.center= t '.spare_part'
      %th.center= t '.date'
      %th.center= t '.department'
      %th.center= t 'reports.qty'
      %th.center= t '.doc_type'
      %th.center= t '.doc_number'
      %th.center= t '.comment'
  %tbody
    - report.result.each do |result|
      %tr
        %th= result[:spare_part]
        %th= result[:dates]
        %th= result[:departments]
        %th{colspan: 4}
      = render 'spare_part_moves', result: result
