= label_tag 'fixed_header_checkbox' do
  = check_box_tag 'fixed_header_checkbox', '1', false, id: 'fixed_header_checkbox', class: 'fixed_header_checkbox'
  Закрепить заголовок таблицы
%table.table.table-hover.table-bordered.tracked-tickets-table
  %caption= 'Действия пользователей в рамках талона'
  %thead
    %th.center Талон
    %th.center Время
    %th.center Действия пользователя
    %th.center Ссылка
  %tbody
    - report.result[:elqueue_work][:users].each do |user|
      %tr.detailable
        %td{colspan: 3}= User.find(user[:user_id]).short_name
      - user[:audits].each do |audit|
        %tr.details
          %td= audit[:ticket_number]
          %td= audit[:time].strftime('%H:%M')
          %td= audit[:action]
          %td= optional_link_to(audit[:link])

%table.table.table-hover.table-boarder
  %caption= 'Действия технических пользователей'
  %thead
    %th.center Время
    %th.center Действия пользователя
    %th.center Ссылка
  %tbody
    - report.result[:technician_work][:users].each do |user|
      %tr.detailable
        %td{colspan: 3}= User.find(user[:user_id]).short_name
      - user[:audits].each do |audit|
        %tr.details
          %td= audit[:time].strftime('%H:%M')
          %td= audit[:action]
          %td= optional_link_to(audit[:link])

%table.table.table-hover.table-boarder
  %caption= 'Действия пользователей (без талонов электронной очереди)'
  %thead
    %th.center Время
    %th.center Действия пользователя
    %th.center Ссылка
  %tbody
    - report.result[:tracked_work][:users].each do |user|
      %tr.detailable
        %td{colspan: 3}= User.find(user[:user_id]).short_name
      - user[:audits].each do |audit|
        %tr.details
          %td= audit[:time].strftime('%H:%M')
          %td= audit[:action]
          %td= optional_link_to(audit[:link])

:coffee
  $table = $('.tracked-tickets-table')
  $rows = $table.find('tr.details')
  currentColor = true
  previousVal = null

  $rows.each (ind, row) ->
    $firstCell = $(row).find('td:first')
    currentVal = $firstCell.text().trim()

    if currentVal != previousVal
      currentColor = !currentColor
      previousVal = currentVal

    $(row).addClass('row-colored') if currentColor
