.active_tickets_in_service
  %ul
    - tickets_in_service.each do |ticket|
      %li
        %strong Окно:
        = ticket.elqueue_window.window_number
        %br/
        \ - Номер талона:
        = ticket.ticket_number
        %br/
        \ - ID
        = ticket.id
.active_tickets_waiting
  %ul
    - tickets_waiting.each do |ticket|
      %li
        %strong Позиция:
        = ticket.position
        %br/
        \ - Приоритет:
        = ticket.priority
        %br/
        \ - Номер талона:
        = ticket.ticket_number
        %br/
        \ - ID
        = ticket.id