.page-header
  %h1= auto_title

= form_with model: @electronic_queue, local: true, class: 'form-horizontal' do |f|
  .control-group
    = f.label :queue_name, t('.queue_name'), class: 'control-label required'
    .controls
      = f.text_field :queue_name

  .control-group
    = f.label :department_id, t('.department_id'), class: 'control-label required'
    .controls
      = f.collection_select :department_id, Department.all, :id, :name, {prompt: t('.choose_department')}

  .control-group
    = f.label :windows_count, t('.windows_count'), class: 'control-label'
    .controls
      = f.number_field :windows_count

  .control-group
    = f.label :printer_address, t('.printer_address'), class: 'control-label'
    .controls
      = f.text_field :printer_address

  .control-group
    = f.label :ipad_link, t('.ipad_link'), class: 'control-label'
    .controls
      .field-explanation= t('.ipad_link_beginning')
      = f.text_field :ipad_link

  .control-group
    = f.label :tv_link, t('.tv_link'), class: 'control-label'
    .controls
      .field-explanation= t('.tv_link_beginning')
      = f.text_field :tv_link

  .control-group
    = f.label :header_boldness, t('.header_boldness'), class: 'control-label'
    .controls
      .field-explanation= t('.boldness_beginning')
      = f.number_field :header_boldness

  .control-group
    = f.label :header_font_size, t('.header_font_size'), class: 'control-label'
    .controls
      .field-explanation= t('.font_size_beginning')
      = f.number_field :header_font_size

  .control-group
    = f.label :annotation_boldness, t('.annotation_boldness'), class: 'control-label'
    .controls
      .field-explanation= t('.boldness_beginning')
      = f.number_field :annotation_boldness

  .control-group
    = f.label :annotation_font_size, t('.annotation_font_size'), class: 'control-label'
    .controls
      .field-explanation= t('.font_size_beginning')
      = f.number_field :annotation_font_size

  .control-group
    = f.label :enabled, t('.enabled'), class: 'control-label'
    .controls
      = f.check_box :enabled

  .actions
    = f.submit t('.submit'), class: 'btn btn-primary'