- if @electronic_queue.sounds_enabled?
  .initialize-audio
    %button.btn.btn-primary Нажмите для активации аудио оповещений
.elqueue-tv
  - @clients_in_service.each do |client|
    .elqueue-tv-card{data: {ticket_number: client.ticket_number}}
      %span.ticket-info
        = colorize_ticket_number(client.ticket_number)
      %span.arrow-tv &#x279C;
      %span.ticket-info
        = client.elqueue_window.window_number
.elqueue-tv-waiting
  .elqueue-tv-waiting__title
    Ожидающие
  .elqueue-tv-waiting__tickets


%input#electronic_queue_id{type: "hidden", value: @electronic_queue.id}
%input#waiting_tickets{type: "hidden", value: @waiting_clients.pluck(:ticket_number).to_json}
= javascript_include_tag "tv_show"
:javascript
  window.AUDIO_PATHS = {
    ticket_called: "#{asset_path("notifications/ticket_called.mp3")}",
    abbr_k: "#{asset_path("notifications/abbreviations/Талон К.wav")}",
    abbr_p: "#{asset_path("notifications/abbreviations/Талон П.wav")}",
    abbr_z: "#{asset_path("notifications/abbreviations/Талон З.wav")}",
    abbr_s: "#{asset_path("notifications/abbreviations/Талон С.wav")}",
    abbr_d: "#{asset_path("notifications/abbreviations/Талон Д.wav")}",
    abbr_a: "#{asset_path("notifications/abbreviations/Талон А.wav")}",
    abbr_b: "#{asset_path("notifications/abbreviations/Талон Б.wav")}",
    abbr_v: "#{asset_path("notifications/abbreviations/Талон В.wav")}",
    abbr_g: "#{asset_path("notifications/abbreviations/Талон Г.wav")}",

    number_1: "#{asset_path("notifications/numbers/1.wav")}",
    number_2: "#{asset_path("notifications/numbers/2.wav")}",
    number_3: "#{asset_path("notifications/numbers/3.wav")}",
    number_4: "#{asset_path("notifications/numbers/4.wav")}",
    number_5: "#{asset_path("notifications/numbers/5.wav")}",
    number_6: "#{asset_path("notifications/numbers/6.wav")}",
    number_7: "#{asset_path("notifications/numbers/7.wav")}",
    number_8: "#{asset_path("notifications/numbers/8.wav")}",
    number_9: "#{asset_path("notifications/numbers/9.wav")}",
    
    number_10: "#{asset_path("notifications/numbers/10.wav")}",
    number_11: "#{asset_path("notifications/numbers/11.wav")}",
    number_12: "#{asset_path("notifications/numbers/12.wav")}",
    number_13: "#{asset_path("notifications/numbers/13.wav")}",
    number_14: "#{asset_path("notifications/numbers/14.wav")}",
    number_15: "#{asset_path("notifications/numbers/15.wav")}",
    number_16: "#{asset_path("notifications/numbers/16.wav")}",
    number_17: "#{asset_path("notifications/numbers/17.wav")}",
    number_18: "#{asset_path("notifications/numbers/18.wav")}",
    number_19: "#{asset_path("notifications/numbers/19.wav")}",
    
    number_20: "#{asset_path("notifications/numbers/20.wav")}",
    number_30: "#{asset_path("notifications/numbers/30.wav")}",
    number_40: "#{asset_path("notifications/numbers/40.wav")}",
    number_50: "#{asset_path("notifications/numbers/50.wav")}",
    number_60: "#{asset_path("notifications/numbers/60.wav")}",
    number_70: "#{asset_path("notifications/numbers/70.wav")}",
    number_80: "#{asset_path("notifications/numbers/80.wav")}",
    number_90: "#{asset_path("notifications/numbers/90.wav")}",

    window_1: "#{asset_path("notifications/windows/Окно номер 1.wav")}",
    window_2: "#{asset_path("notifications/windows/Окно номер 2.wav")}",
    window_3: "#{asset_path("notifications/windows/Окно номер 3.wav")}",
    window_4: "#{asset_path("notifications/windows/Окно номер 4.wav")}",
    window_5: "#{asset_path("notifications/windows/Окно номер 5.wav")}",
    window_6: "#{asset_path("notifications/windows/Окно номер 6.wav")}",
    window_7: "#{asset_path("notifications/windows/Окно номер 7.wav")}"
  };
:scss
  body {
    line-height: normal;
    padding-bottom: 0;
  }
  .digit-color {
    color: red;
  }

  .letter-color {
    color: black;
  }
  .elqueue-tv {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    height: 81vh;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    align-items: stretch;
    justify-items: stretch;
    gap: 8px 16px;
    background-color: #f9f9f9;
  }
  .elqueue-tv-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 52px;
    background: linear-gradient(135deg, #efefef, #f3ecec);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .arrow-tv {
      margin-bottom: 18px;
    }

    .ticket-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2px;
      color: #000;
    }

    .label-tv {
      color: #a7a5a5;
      font-size: 28px;
    }
  }
  .elqueue-tv-waiting {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 14vh;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 30px;
    column-gap: 18px;
    padding-top: 14px;
  }
  .elqueue-tv-waiting__title {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #524444;
  }
  .elqueue-tv-waiting__tickets {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    column-gap: 18px;
  }
  .elqueue-tv-waiting__ticket {
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: center;
    justify-content: center;
    padding: 7px 14px;
    width: 120px;
    border-radius: 4px;
    background: linear-gradient(135deg, #f6f1f1, #f0f0f0);
    color: #5c5757;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease forwards;
    &.fade-out {
      animation: fadeOut 1s ease forwards;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(40px);
    }
  }
